<a href="https://colab.research.google.com/github/RohitTudayekar/Python/blob/main/for_and_while_loops_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print 1 to 20

In [ ]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(11,21):
  print(i)

11
12
13
14
15
16
17
18
19
20

take a number as input from the users and print its multiplication table

In [ ]:
n=int(input("enter a number "))

for i in range(1,11):
  print(n*i)

enter a number 2
2
4
6
8
10
12
14
16
18
20

take a list of numbers and display all the even numbers from the list

In [ ]:
list=[5,4,8,6,45,14,24,23,6,7,14,16,18,17,19,20]

for i in list:
  if i%2==0:
    print(i)

  else:
    pass

4
8
6
14
24
6
14
16
18
20

what if i want to display both even and odd numbers from my list at  a time?

In [ ]:
list=[5,4,8,6,45,14,24,23,6,7,14,16,18,17,19,20]
even=[]
odd=[]
for i in list:
  if i%2==0:
    even.append(i)

  else:
    odd.append(i)
print('even list',even)
print('odd list',odd)

even list [4, 8, 6, 14, 24, 6, 14, 16, 18, 20]
odd list [5, 45, 23, 7, 17, 19]

if i want to count even and odd numbers

In [ ]:
list=[5,4,8,6,45,14,24,23,6,7,14,16,18,17,19,20]
count_even=0
count_odd=0

for i in list:
  
  if i%2==0:
    count_even+=1

  else:
    count_odd+=1
print('number of even numbers in the list',count_even)
print('number of odd numbers in the list',count_odd)

number of even numbers in the list 10
number of odd numbers in the list 6

take a list of numbers and display squares of each numbers in your list

In [ ]:
list=[5,4,8,6,45,14,24,23,6,7,14,16,18,17,19,20]

square=[]

for i in list:
  square.append(i*i)

print(square)

[25, 16, 64, 36, 2025, 196, 576, 529, 36, 49, 196, 256, 324, 289, 361, 400]

Write a program to print first 10 integers and their squares using while loop.

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
square=[]

for i in list:
  square.append(i*i)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write for loop statement to print the following series:
10, 20, 30 … … 300

In [ ]:
a=10
while a<=300: 
  print(a)
  a=a+10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

Write a program to display the number names of the digits of a number entered by user, for example if the number is 231 then output should be Two Three One

In [ ]:
n=(input("enter a number "))
dict={"0":"zero","2":"two","3":"three","4":"four","5":"five","6":"six","7":"seven","8":"eight","9":"nine","10":"ten","1":"One"}

for i in n:

  print(dict[i],end=" ")

enter a number 854796645
eight five four seven nine six six four five

Q1. Write a program to print the following using while loop
a. First 10 Even numbers
b. First 10 Odd numbers
c. First 10 Natural numbers
d. First 10 Whole numbers

In [ ]:
a=2
while a<=20:
  print(a)
  a=a+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
a=1
while a<=20:
  print(a)
  a=a+2

1
3
5
7
9
11
13
15
17
19

In [ ]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=0
while a<=10:
  print(a)
  a=a+1

0
1
2
3
4
5
6
7
8
9
10

Write a program in Python to reverse a word.

Write a program to print n natural number in descending order using a while loop.

In [ ]:
a=10
while a>=1:
  print(a)
  a=a-1

10
9
8
7
6
5
4
3
2
1

Write a program to display the first 7 multiples of 7

In [ ]:
count=0
for i in range(50):
  if i%7==0:
    print(i,end= " ")
    count=count+1

0 7 14 21 28 35 42 49

Write a program that appends the square of each number to a new list

In [ ]:
x=[2,3,4,5,6,7,8]
square=[]
for i in x:
  square.append(i*i)
print(square)

[4, 9, 16, 25, 36, 49, 64]